{{!-- inline-block --}}
<div class="relative text-left"
  data-test-dropdown={{if @name @name true}}
  ...attributes>
  {{yield (hash
    Menu=(component "ui/dropdown/menu" showMenu=this.showMenu toggleMenu=this.toggleMenu)
    Button=(component "ui/button" style="white" trailingIcon="chevron-down" loading=@loading)
    Icon=(component "ui/icon-button" icon="dots-vertical" loading=@loading)
    toggle=this.toggleMenu
  )}}
</div>