<img class="transition-opacity ease-in-out duration-300 {{if this.imageLoaded "opacity-1" "opacity-0"}}"
  onload={{this.onLoad}}
  ...attributes>
{{!-- <div class="flex items-center justify-center absolute inset-0 transition-opacity ease-in-out duration-300 {{if this.imageLoaded "opacity-0" "opacity-1"}}">
  {{svg-jar "image" class="text-gray-100 w-1/4"}}
</div> --}}