{{!--
Tailwind UI components require Tailwind CSS v1.8 and the @tailwindcss/ui plugin.
Read the documentation to get started: https://tailwindui.com/documentation
--}}
<div class="min-h-screen bg-white flex relative">

  <div class="z-10 flex-1 flex flex-col justify-center md:justify-start md:flex-none bg-white sm:rounded-lg w-full md:w-1/2 lg:w-1/3 sm:m-16 md:m-20">

    <div class="mx-auto w-full">
      <div class="p-6 sm:px-8 sm:py-16 md:py-20">

        <div>
          {{svg-jar "logo" class="h-12 w-auto mx-auto text-primary-600"}}
          <h2 data-test-title
            class="mt-6 text-3xl font-extrabold text-gray-900 text-center">
            {{t "external.invite.title"}}
          </h2>
          <p class="mt-2 text-sm text-gray-600 max-w text-center">
            {{t "external.invite.byline"}}
          </p>
        </div>

        <div class="mt-8 max-w-sm m-auto">

          <div class="mt-6">

          </div>

        </div>
      </div>
    </div>
  </div>

  <img class="z-0 absolute inset-0 h-full w-full object-cover"
    src="https://source.unsplash.com/random/1920x1280"
    alt={{t "external.splashImageAlt"}} />

  <div class="z-0 absolute inset-0 h-full w-full object-cover bg-gradient-to-b	from-primary-600 to-primary-300 opacity-75">

  </div>

</div>