<button role="button"
  type="button"
  class="w-6 h-6 rounded-full pointer-cursor hover:bg-gray-100 focus:outline-none focus:shadow-outline-primary flex justify-center items-center"
  ...attributes>
  {{svg-jar @icon class="w-5 h-5"}}
</button>