<div class="prose mt-4">

  <h1>Portal Generator</h1>

  <p>This blueprint will generate the common boilerplate functionailty required for a Sauce portal. This includes, Packages, Authentication routes (login, forgot & reset), Mirage endpoints & Tailwind UI components</p>

  <p>To generate run the following command:</p>
</div>

<div class="bg-black text-white p-4 font-mono">
  ember g portal app
</div>